{% extends 'base.html' %}
{% block content %}

<div id="textstuff">
<h1>{{ playlist.name }}</h1>
<div id="line">
<hr>
</div>
<div>
    {% if playlist.songs.count %}
        {% for song in playlist.songs.all %}
        <div class="card">
            <div class="card-content">
            <span class="card-title">
                {{ song.name }} -
                {{ song.artist }}
                <a href="/myplaylist/{{ id }}/create">Add</a>
                <a href="/myplaylist/{{ id }}/remove/{{ song_id }}">Delete</a>
            </span>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div id="songselse">
        <h5>NO SONGS IN THIS PLAYLIST!</h5>
    </div>
    {% endif %}
</div>
</div>

{% endblock %}