{% extends 'base.html' %}
{% block content %}

<h1>{{ playlist.name }}</h1>
<hr>
<div>
    {% if playlist.songs.count %}
        {% for song in playlist.songs.all %}
        <div class="card">
            <div class="card-content">
            <span class="card-title">
                {{ song.name }} -
                {{ song.artist }}
                <a href="/myplaylist/{{ id }}/create">Add</a>
                <a href="/myplaylist/{{ id }}/remove/{{ song_id }}">Delete</a>
            </span>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h5>No songs :(</h5>
    {% endif %}
</div>
<a href="/myplaylist/{{ id }}/update">Update</a>
<a href="/myplaylist/{{ id }}/delete">Delete</a>
{% endblock %}