{% extends 'base.html' %}
{% block content %}

<div id="textstuff">
  <h1>USER's</h1>
  <h3>PLAYLIST</h3>
  <div id="line">
    <hr>
  </div>
<a href="#">
  <div id="playlistdiv" class="playlists">
    <p id="playlistname">NAME:{{ playlist.name }}</p>
    <p id="playlistdescription" >Description: {{ playlist.description }}</p>
 
    <a href="#"><button id="morebtn">MORE</button></a>
    <p id="numbersongs"># songs</p>

    <!-- <p>Category: {{ playlist.songs }}</p> -->
  </div>
</a>

{% endblock %}